# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Mock
# compiled output
/mock/dist
/mock/node_modules

# Logs
/mock/logs
/mock/*.log
/mock/npm-debug.log*
/mock/pnpm-debug.log*
/mock/yarn-debug.log*
/mock/yarn-error.log*
/mock/lerna-debug.log*
/mock/# OS
/mock/.DS_Store
/mock/# Tests
/mock/coverage
/mock/.nyc_output
/mock/# IDEs and editors
/mock/.idea
/mock/.project
/mock/.classpath
/mock/.c9/
/mock/*.launch
/mock/.settings/
/mock/*.sublime-workspace
/mock/# IDE - VSCode
/mock/.vscode/*
/mock/!.vscode/settings.json
/mock/!.vscode/tasks.json
/mock/!.vscode/launch.json
/mock/!.vscode/extensions.json
